{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 31.3513501,
    "longitude": 34.400966,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Jerusalem",
    "external_url": null,
    "internal_url": null,
    "currency": "ILS",
    "country": "IL",
    "language": "en"
  }
}